<p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @pc.mac %>
</p>

<p>
  <strong>Os ver:</strong>
  <%= @pc.os_ver %>
</p>

<p>
  <strong>Computer name:</strong>
  <%= @pc.computer_name %>
</p>

<p>
  <strong>System type:</strong>
  <%= @pc.system_type %>
</p>

<p>
  <strong>Ram size:</strong>
  <%= @pc.ram_size %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @pc.ip_address %>
</p>

<p>
  <strong>Is laptop:</strong>
  <%= @pc.is_laptop %>
</p>

<p>
  <strong>Sub id0:</strong>
  <%= @pc.sub_id0 %>
</p>

<p>
  <strong>Sub id1:</strong>
  <%= @pc.sub_id1 %>
</p>

<p>
  <strong>Sub id2:</strong>
  <%= @pc.sub_id2 %>
</p>

<p>
  <strong>Sub id3:</strong>
  <%= @pc.sub_id3 %>
</p>

<p>
  <strong>Sub id4:</strong>
  <%= @pc.sub_id4 %>
</p>

<%= link_to 'Edit', edit_pc_path(@pc) %> |
<%= link_to 'Back', pcs_path %>
