<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @campaign.id %>
</p>

<p>
  <strong>Sub id0:</strong>
  <%= @campaign.sub_id0 %>
</p>

<p>
  <strong>Sub id1:</strong>
  <%= @campaign.sub_id1 %>
</p>

<p>
  <strong>Sub id2:</strong>
  <%= @campaign.sub_id2 %>
</p>

<p>
  <strong>Sub id3:</strong>
  <%= @campaign.sub_id3 %>
</p>

<p>
  <strong>Sub id4:</strong>
  <%= @campaign.sub_id4 %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @campaign.pool_id %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
